<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Пост</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <script>
    document.addEventListener("DOMContentLoaded", function () {
  const addCommentBtn = document.getElementById("add-comment-btn");
  const commentForm = document.getElementById("comment-form");
  const commentText = document.getElementById("comment-text");

  // Показать форму при нажатии кнопки "Добавить комментарий"
  addCommentBtn.addEventListener("click", function () {
    commentForm.style.display = "block"; // Показываем форму
    commentText.focus(); // Ставим фокус на текстовую область
  });

  // Отправка формы при нажатии Ctrl + Enter
  commentText.addEventListener("keydown", function (event) {
    if (event.ctrlKey && event.key === "Enter") {
      commentForm.submit(); // Отправляем форму
    }
  });

  // Обработчик нажатия кнопки "Редактировать"
  document.querySelectorAll(".edit-comment-btn").forEach(function (button) {
    button.addEventListener("click", function () {
      const commentId = this.getAttribute("data-id");

      // Скрыть текст комментария
      const commentElement = document.querySelector(`.comment-text[data-id="${commentId}"]`);
      if (commentElement) commentElement.style.display = "none";

      // Показать форму редактирования
      const editForm = document.getElementById(`edit-form-${commentId}`);
      if (editForm) editForm.style.display = "block";

      // Добавить обработчик нажатия Ctrl + Enter для отправки формы редактирования
      const editTextarea = editForm.querySelector("textarea");

      if (editTextarea) {
        editTextarea.addEventListener("keydown", function (event) {
          if (event.ctrlKey && event.key === "Enter") {
            editForm.submit(); // Отправляем форму редактирования
          }
        });
      }
    });

  });

  // Обработчик нажатия кнопки "Отмена"
  document.querySelectorAll(".cancel-edit-btn").forEach(function (button) {
    button.addEventListener("click", function () {
      const commentId = this.getAttribute("data-id");

      // Показать текст комментария
      const commentElement = document.querySelector(`.comment-text[data-id="${commentId}"]`);
      if (commentElement) commentElement.style.display = "block";

      // Скрыть форму редактирования
      const editForm = document.getElementById(`edit-form-${commentId}`);
      if (editForm)  editForm.style.display = "none";


    });
  });
});
      function showForm() {
            const postName = '[[${post.name}]]' + '';
            const postDescription = '[[${post.description}]]';
            const postTags = '[[${tagsArray}]]';

            const postImageURL = '[[${post.imageURL}]]';

            document.getElementById('name').value = postName;
            document.getElementById('description').value = postDescription;
            document.getElementById('tags').value = postTags;
            document.getElementById('imageURL').value = postImageURL;

            document.getElementById('postForm').style.display = 'block';

        }

        function hideForm() {
            document.getElementById('postForm').style.display = 'none';
        }
  </script>
</head>
<body>
<div class="post-container">
  <div class="post">
    <div class="post-meta">
      <!-- Ссылка к списку постов -->
      <a th:href="@{/}" th:text="'Вернуться к постам'"></a>
      <!-- Ссылка удаления поста -->
      <a th:href="@{/posts/delete/{id}(id=${post.id})}" th:text="'Удалить'"></a>
      <!-- Кнопка редактирования поста -->
      <button onclick="showForm()">Редактировать пост</button>
    </div>
    <!-- Название поста -->
    <h2 class="post-title" th:text="${post.name}">Post Name</h2>

    <!-- Форма редактирования поста -->
    <div class="form-container" id="postForm" style="display: none;">
      <form th:action="@{/posts/update/{id}(id=${post.id})}" th:method="post">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" placeholder="Введите название" required>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" placeholder="Введите описание" required></textarea>

        <label for="tags">Теги (через запятую):</label>
        <input type="text" id="tags" name="tags" placeholder="Введите теги">

        <label for="imageURL">URL изображения:</label>
        <input type="url" id="imageURL" name="imageURL" placeholder="Введите URL изображения">

        <button type="submit" class="save-btn">Сохранить</button>
        <button type="button" class="cancel-btn" onclick="hideForm()">Отмена</button>
      </form>
    </div>

    <!-- Изображение -->
    <img class="post-image" th:src="${post.imageURL}" alt="Example Image" />
    <!-- Список тегов, количество комментариев и лайков -->
    <div class="post-meta">
      <p class="tags">
        <span th:each="tag : ${post.tags}" th:text="'#' + ${tag.name} + ' '"></span>
      </p>
    </div>
    <!-- Список тегов, количество комментариев и лайков -->
    <div class="post-meta">
      <p>Лайки: <span th:text="${post.likeCounter}">0</span></p>
      <a th:href="@{/posts/like/{id}(id=${post.id})}" th:text="'Поставить лайк'"></a>
    </div>
    <!-- Описание -->
    <p class="post-description" th:text="${post.description}">Post Description</p>
    <!-- Список комментариев -->
    <div>
      <div class="post-meta">
        <h2>Комментарии:</h2>
        <!-- Кнопка добавления комментария -->
        <button id="add-comment-btn">Добавить комментарий</button>
      </div>

      <!-- Список комментариев -->
      <div th:each="comment : ${post.commentaries}" class="comment-block">
        <!-- Отображение текста комментария -->

        <div class="post-meta" >
          <p class="comment-text" th:utext="${#strings.replace(comment.text, '\n', '<br/>')}"></p>
          <div>
            <!-- Кнопка "Редактировать" -->
            <button class="edit-comment-btn" th:data-id="${comment.id}">Редактировать</button>
            <a th:href="@{/posts/commentary/delete/{id}(id=${comment.id}, post_id=${post.id})}" th:text="'Удалить'"></a>
          </div>
        </div>
        <!-- Форма редактирования комментария (по умолчанию скрыта) -->
        <form th:id="'edit-form-' + ${comment.id}"
              th:action="@{/posts/commentary/update/{id}(id=${comment.id})}"
              method="post"
              style="display: none;">
          <!-- Скрытое поле для id поста -->
          <input type="hidden" name="post_id" th:value="${post.id}">
          <textarea th:id="'edit-textarea-' + ${comment.id}"
                name="text" rows="3" th:text="${comment.text}"></textarea>
          <button type="button" class="cancel-edit-btn" th:data-id="${comment.id}">Отмена</button>
        </form>
      </div>

      <!-- Форма для добавления комментария (по умолчанию скрыта) -->
      <form id="comment-form" th:action="@{/posts/commentary/{id}(id=${post.id})}" method="post" style="display: none;">
        <textarea id="comment-text" name="text" rows="3" placeholder="Напишите комментарий..."></textarea>
      </form>
    </div>
  </div>
</div>
</body>
</html>