<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Мой блог</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <script>
            // Функция для показа формы
            function showForm() {
                document.getElementById('postForm').classList.add('active');
            }

            // Функция для скрытия формы и очистки данных
            function hideForm() {
                const form = document.getElementById('postForm');
                form.classList.remove('active');
                form.querySelectorAll('input, textarea').forEach(input => input.value = '');
            }
             function handleTagSelection(selectElement) {
                // Получаем выбранное значение
                const selectedTag = selectElement.value;
                window.location.href = '/myBlog/tag/' + selectedTag;
            }

        </script>

    </head>
    <body>
        <div class="post-container">
            <div class="post">
                <div class="post-meta">
                    Добро пожаловать в мой блог!
                    <button onclick="showForm()">Добавить пост</button>
                    <a th:href="@{/posts/addManyPosts}" th:text="'Создать много постов'"></a>
                </div>
            </div>
        </div>

        <div class="post-container">
            <div class="post">
                <!-- Дропдаун с тегами-->
                <div class="tags-dropdown">
                    <select id="tagsDropdown" name="tag" onchange="handleTagSelection(this)">
                        <!-- Пустой тег, чтобы отображать все-->
                        <option th:value="''" th:text="'Выберите тег'"
                                th:selected="${selectedTag == null or selectedTag.name == ''}">
                        </option>
                        <!-- Список тегов. Если выбран, то показывай выбранный-->
                        <option th:each="tag : ${tags}"
                                th:value="${tag.name}"
                                th:text="'#' + ${tag.name}"
                                th:selected="${selectedTag != null and tag.name == selectedTag.name}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Ссылки для выбора размера страницы -->
        <div class="post-container">
            <div class="post">
                <div class="post-meta">
                    <p>Постов на странице: <span th:text="${pagination.size}"></span></p>
                    <p>Страница: <span th:text="${pagination.page}"></span></p>
                    <div>
                        <!-- Ссылка "Назад" -->
                        <a th:href="@{/pagination(size=${pagination.size}, page=${pagination.page > 0 ? pagination.page - 1 : 0})}"
                           th:text="'<< Назад'">
                        </a> |
                        <!-- Ссылка "Далее" -->
                        <a th:href="@{/pagination(size=${pagination.size}, page=${pagination.page + 1})}"
                           th:text="'Далее >>'">
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/pagination?size=10&page=0}" th:text="'10'"></a> |
                        <a th:href="@{/pagination?size=20&page=0}" th:text="'20'"></a> |
                        <a th:href="@{/pagination?size=50&page=0}" th:text="'50'"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Форма создания нового поста -->
        <div class="form-container" id="postForm">
            <form th:action="@{/posts/new}" th:method="post">
                <label for="name">Название:</label>
                <input type="text" id="name" name="name" placeholder="Введите название" required>

                <label for="description">Описание:</label>
                <textarea id="description" name="description" placeholder="Введите описание" required></textarea>

                <label for="tags">Теги (через запятую):</label>
                <input type="text" id="tags" name="tags" placeholder="Введите теги">

                <label for="imageURL">URL изображения:</label>
                <input type="url" id="imageURL" name="imageURL" placeholder="Введите URL изображения">

                <button type="submit" class="save-btn">Сохранить</button>
                <button type="button" class="cancel-btn" onclick="hideForm()">Отмена</button>
            </form>
        </div>
        <!-- Лента постов -->
        <div th:each="post : ${posts}" class="post-container">
            <div class="post">
                <!-- Название поста -->
                <h2 class="post-title">
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.name}">Post Name</a>
                </h2>

                <!-- Изображение -->
                <img class="post-image" th:src="${post.imageURL}" alt="Example Image" />

                <!-- Список тегов, количество комментариев и лайков -->
                <div class="post-meta">
                    <p class="tags">
                        <!-- <span th:each="tag : ${post.tags}" th:text="'#' + ${tag.name} + ' '"></span>-->
                        <span th:each="tag : ${post.tags}">
                            <a th:href="@{/tag/{name}(name=${tag.name})}" th:text="'#' + ${tag.name}"></a>
                            <!-- Добавляем пробел между тегами -->
                        <span> </span> </span>
                    </p>
                </div>
                <!-- Список тегов, количество комментариев и лайков -->
                <div class="post-meta">
                    <p>Комментариев: <span th:text="${post.commentaries.size()}">0</span></p>
                    <p>Лайки: <span th:text="${post.likeCounter}">0</span></p>
                </div>

                <!-- Описание -->
                <p class="post-description" th:text="${post.description}">Post Description</p>
            </div>
        </div>
        <!-- Ссылки назад/далее -->
        <div class="post-container">
            <div class="post">
                <div class="post-meta">
                    <!-- Ссылка "Назад" -->
                    <a th:href="@{/pagination(size=${pagination.size}, page=${pagination.page > 0 ? pagination.page - 1 : 0})}"
                       th:text="'<< Назад'">
                    </a>

                    <p>Постов на странице: <span th:text="${pagination.size}"></span></p>
                    <p>Страница: <span th:text="${pagination.page}"></span></p>

                    <!-- Ссылка "Далее" -->
                    <a th:href="@{/pagination(size=${pagination.size}, page=${pagination.page + 1})}"
                       th:text="'Далее >>'">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>