<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Мой блог</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div>
            Добро пожаловать в мой блог!
        </div>

        <div th:each="post : ${posts}" class="post-container">
            <div class="post">
                <!-- Название поста -->
                <h2 class="post-title">
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.name}">Post Name</a>
                </h2>

                <!-- Изображение -->
                <img class="post-image" th:src="${post.imageURL}" alt="Example Image" />

                <!-- Список тегов, количество комментариев и лайков -->
                <div class="post-meta">
                    <p class="tags">
                        <span th:each="tag : ${post.tags}" th:text="'#' + ${tag.name} + ' '"></span>
                    </p>
                </div>
                <!-- Список тегов, количество комментариев и лайков -->
                <div class="post-meta">
                    <p>Комментариев: <span th:text="${post.commentaries.size()}">0</span></p>
                    <p>Лайки: <span th:text="${post.likeCounter}">0</span></p>
                </div>

                <!-- Описание -->
                <p class="post-description" th:text="${post.description}">Post Description</p>
            </div>
        </div>

    </body>
</html>